.aboutme {
    position: relative;
    padding-top: 120px;
    min-height: 840px;
    &_title {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
    &_subtitle {
        margin-top: 6px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    &_icon {
        position: relative;
        display: inline;
        right: 41px;
        top: 35px;
        @include before_circle3 
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 330px 320px;
        grid-template-rows: 200px 150px 150px;
        grid-row-gap: 30px;
    }
    &__circle {
        @include before_circle2;
    }
    &__description {
        position: relative;
        display: block;
        padding-left: 68px;
        z-index: 2;
        width: 570px;
        height: 123px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__title {
        left: 60px;
        margin-top: 10px;
        margin-left: -10px;
    }
    &__dash {
        margin: 4px 0 20px 0;
        @include dash 
    }
    &__subtitleme {
        position: relative;
        width: 570px;
        height: 123px;
        font-weight: 500;
        margin-left: -10px;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
    &__photo {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    &__web {
        display: block;
        margin-left: 120px;
        width: 260px;
        height: 116px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

    }
    &__dev {
        margin-left: 80px;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &__design {
        margin-left: 120px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    &_subtitle {
        width: 200px;
        height: 89px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }

}

