
@media (max-width: 1200px) {
    .sidepanel {
        display: none;
    }
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 65px 0 65px;
            display: grid;
            grid-template-columns: repeat(2,347px);
            column-gap: 135px;
        }
    }
    .use {
        &__wrapper {
            display: grid;
            padding: 60px 10px 0px;
            grid-template-columns: repeat(3, 304px);
            grid-template-rows: repeat(3, 270px);
            gap: 13px;
        }
        &__ratings {
            margin-top: 120px;
            display: grid;
            grid-template: repeat(3, minmax(70px, auto)) / repeat(2, 355px);
            gap: 60px 205px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-between;
            row-gap: 35px;
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0 35px 0 35px;
            display: grid;
            grid-template-columns: 338px 518px;
            justify-content: space-between;
        }
        &__text {
            margin-top: 17px;
        }
        &__input {
            input {
                width: 73%;
                height: 73%;
                padding: 0 10px;
                font-size: 10px;
            }
        }
        &__form {
            display: grid;
            grid-template: 50px 190px 47px/repeat(2,261px);
            justify-content: space-evenly;
            row-gap: 10px;
        }
        &__textarea {
            textarea {
                width: 87%;
                height: 73%;
                resize: none;
                padding: 10px;
                font-size: 10px;
            }
        }
        &__btn {
            height: 40px;
            width: 185px;
            font-size: 13px;
            padding: 10px 22px;
        }
        &__policy {
            font-size: 11px;
            width: 55%;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .divider {
        margin: 15px auto 0 auto;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2,250px);
            column-gap: 100px;
        }
        &__item {
            &-body {
                font-size: 11px;
            }
        }
    }
    .use {
        &__wrapper {
            display: grid;
            padding: 60px 0px 0 0px;
            grid-template-columns: repeat(2,269px);
            grid-template-rows: repeat(4,270px);
            gap: 20px;
            justify-content: center;
        }
        &__ratings {
            grid-template: repeat(6,minmax(70px,auto)) /350px;
            justify-items: end;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 260px);
            gap: 15px;
        }
    }
    .contacts {
        padding: 100px 0px 90px;
        &__photo {
            img {
                display: none;
            }
        }
        &__wrapper {
            grid-template-columns: 600px;
            justify-content: center;
        }
        &__form {
            grid-template: 50px 190px 47px/repeat(2,300px);
            justify-content: space-evenly;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz42 {
            font-size: 24px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
        &_link {
            font-size: 12px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 2px 0 2px;
            display: grid;
            grid-template-columns: repeat(2,256px);
            column-gap: 23px;
        }
    }
    .use {
        &__skills {
            width: 235px;
            height: 260px;
        }
        &__wrapper {
            grid-template-columns: repeat(2,235px);
            grid-template-rows: repeat(4,255px);
            gap: 54px;
        }
    }
    .portfolio {
        padding-top: 48px;
        &__wrapper {
            justify-content: center;
        }
    }
    .price {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 300px;
            margin-top: 20px;
            justify-content: center;
            gap: 15px;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 525px;
        }
        &__form {
            grid-template: 50px 190px 47px/repeat(2,260px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz42 {
            font-size: 24px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 295px;
            row-gap: 30px;
        }
    }
    .use {
        &__wrapper {
            grid-template-columns: 220px;
            grid-template-rows: repeat(8,264px);
            justify-content: center;
            gap: 15px;
        }
        &__ratings {
            justify-items: baseline;
            &-line {
                width: 260px;
            }
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: 250px;
            margin-top: 20px;
            justify-content: center;
            gap: 20px;
        }
    }
    .contacts {
        &__input {
            grid-column: 1/3;
        }
        input {
            width: 97%;
        }
        &__form {
            grid-template: 60px 60px 200px / 320px;
        }
        &__wrapper {
            grid-template-columns: 320px;
        }
        textarea {
            width: 97%;
        }
        &__triggers {
            display: grid;
            grid-template-columns: 240px;
            justify-items: end;
        }
        &__policy {
            font-size: 13px;
            width: 85%;
            margin-top: 20px;
        }
    }
}