
@media (max-width: 1200px) {
    .sidepanel {
        display: none;
    }
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 65px 0 65px;
            display: grid;
            grid-template-columns: repeat(2,347px);
            column-gap: 135px;
        }
    }
    .use {
        &__wrapper {
            display: grid;
            padding: 60px 10px 0px;
            grid-template-columns: repeat(3, 304px);
            grid-template-rows: repeat(3, 270px);
            gap: 13px;
        }
        &__ratings {
            margin-top: 120px;
            display: grid;
            grid-template: repeat(3, minmax(70px, auto)) / repeat(2, 355px);
            gap: 60px 205px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2,250px);
            column-gap: 100px;
        }
        &__item {
            &-body {
                font-size: 11px;
            }
        }
    }
    .use {
        &__wrapper {
            display: grid;
            padding: 60px 0px 0 0px;
            grid-template-columns: repeat(2,269px);
            grid-template-rows: repeat(4,270px);
            gap: 20px;
            justify-content: center;
        }
        &__ratings {
            grid-template: repeat(6,minmax(70px,auto)) /350px;
            justify-items: end;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz42 {
            font-size: 24px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
        &_link {
            font-size: 12px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 2px 0 2px;
            display: grid;
            grid-template-columns: repeat(2,256px);
            column-gap: 23px;
        }
    }
    .use {
        &__skills {
            width: 235px;
            height: 260px;
        }
        &__wrapper {
            grid-template-columns: repeat(2,235px);
            grid-template-rows: repeat(4,255px);
            gap: 54px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz42 {
            font-size: 24px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 295px;
            row-gap: 30px;
        }
    }
    .use {
        &__wrapper {
            grid-template-columns: 220px;
            grid-template-rows: repeat(8,264px);
            justify-content: center;
            gap: 15px;
        }
        &__ratings {
            justify-items: baseline;
            &-line {
                width: 260px;
            }
        }
    }
}