.sidepanel {
    position: fixed;
    top: 230px;
    left: 25px;
    display: flex;
    align-items: center;
    z-index: 3;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    &__link {
        &:hover {
            svg path{
                fill: rgb(57, 15, 108);
            }
        }
            &:hover {
                position: relative;
                color: #fff;
                transition: all 0.5s;
                box-shadow: 1px 1px 15px 25px rgba(105, 0, 234, 0.33);
                text-decoration: none;
                border: none;
                z-index: -1;
                border-radius: 100%;
            }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000;
    }
    &__text {
        height: 150px;
        width: 25px;
        font-weight: 700;
        font-size: 16px;
        span {
            transform: rotate(-90deg) translate(-30%,-260%);
            display: block;
            width: 150px;
        }
    }
}